<!DOCTYPE html>
<html ng-app="MyTorrent">
<head>
  <title>Top Torrent Movies</title>
  <link rel="stylesheet" type="text/css" href="styles/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="styles/popup.css">
</head>
<body ng-controller="TorrentCtrl">

<div class="container" ng-init="getMovies()">

   <input type="text" placeholder="Search for torrents movies here" ng-model="search_term" ng-search="getSearchQuery()">

   <div class="overlay" ng-if="!loading">
     <div id="circularG">
       <div id="circularG_1" class="circularG"></div>
       <div id="circularG_2" class="circularG"></div>
       <div id="circularG_3" class="circularG"></div>
       <div id="circularG_4" class="circularG"></div>
       <div id="circularG_5" class="circularG"></div>
       <div id="circularG_6" class="circularG"></div>
       <div id="circularG_7" class="circularG"></div>
       <div id="circularG_8" class="circularG"></div>
     </div>
   </div>

    <div ng-if="!imdbResponse" class="row" ng-repeat="details in data">
      <div class="col m12">
        <div class="card">
          <div class="card-image">
            <img src="{{details.medium_cover_image}}" height="400">
            <span class="card-title">{{details.title_long}}</span>
          </div>
          <div class="card-content">
            <span> Rating: {{details.rating}} / 10 <a target="_blank" href="{{details.torrents[0].url}}" class="waves-effect waves-light btn red right">Download</a> </span>
            <ul ng-repeat="genre in details.genres">
              <li>{{genre}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="imdbResponse">
      <div class="col m12" ng-repeat="response in imdbResponse">
        <div class="card">
          <div class="card-image">
            <img src="{{response.Poster}}" height="400">
            <span class="card-title">{{response.Title}}</span>
          </div>
          <div class="card-content">
            <span>{{response.Plot}}</span> <br>
            <span> Rating: {{response.imdbRating}} / 10 <a target="_blank" href="https://getstrike.net/torrents/api/download/{{response.hash}}.torrent" class="waves-effect waves-light btn red right">Download</a> </span> <br>
            <span>Genre: {{response.Genre}}</span> <br>
            <span>Year: {{response.Year}}</span> <br>
            <span>Seeds: {{response.seeds}}</span> <br>
            <span>Size: {{response.size}}</span>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script src="js/jquery-1.11.3.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/materialize.min.js"></script>
  <script src="js/lodash.min.js"></script>
  <script src="js/popup.js"></script>

</body>
</html>
